a {
	filter: grayscale(100%);
	-webkit-filter:grayscale(100%);
	transition: 0,3;
}

a:hover {
	filter:none;
	-webkit-filter:none;
}

#home {
	background: #ffc107;
	color: white;
}

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

footer p a {
	margin: 5px 15px;
}